@charset "utf-8";
/*
#l_main
汎用クラスのスタイル指定
以下以外のものは増やさない
*/

.u-mt-xsmall {
  margin-top: 10px !important;
}

.u-mt-small {
  margin-top: 20px !important;
}

.u-mt {
  margin-top: 30px !important;
}

.u-mt-large {
  margin-top: 40px !important;
}

.u-mt-xlarge {
  margin-top: 50px !important;
}

.u-mr-xsmall {
  margin-right: 10px !important;
}

.u-mr-small {
  margin-right: 20px !important;
}

.u-mr {
  margin-right: 30px !important;
}

.u-mr-large {
  margin-right: 40px !important;
}

.u-mr-xlarge {
  margin-right: 50px !important;
}

.u-mb-xsmall {
  margin-bottom: 10px !important;
}

.u-mb-small {
  margin-bottom: 20px !important;
}

.u-mb {
  margin-bottom: 30px !important;
}

.u-mb-large {
  margin-bottom: 40px !important;
}

.u-mb-xlarge {
  margin-bottom: 60px !important;
}

.u-ml-xsmall {
  margin-left: 10px !important;
}

.u-ml-small {
  margin-left: 20px !important;
}

.u-ml {
  margin-left: 30px !important;
}

.u-ml-large {
  margin-left: 40px !important;
}

.u-ml-xlarge {
  margin-left: 50px !important;
}