@charset "utf-8";
/*
#generic
サイトの基本となるCSS。フォントサイズやリンクカラーなどを指定する。
idやclassは使用しない
*/

html {
  font-size: 62.5%;
}

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $font-jp;
  color: $color-default;
  width: 100%;
}

section {
  width: 100%;
}

a {
  text-decoration: none;
  color: $color-default;

  &:hover {
    text-decoration: none;
    color: $color-default;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

label {
  margin-bottom: 0;
}

input::placeholder {
  color: #afafaf;
}

// input {

//   &[type="text"],
//   &[type="tel"],
//   &[type="email"] {
//     width: 100%;}
// }

// textarea {
//   @extend input[type="text"];
// }