@charset "utf-8";
/*
#nav
navモジュールのスタイル指定
*/

.nav-wrap {
  height: 50px;
  box-sizing: border-box;
  background-color: #261414;
  border-top: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  height: 50px;
  box-sizing: border-box;
  background-color: #FBFBFB;
  border-top: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
  border-left: 1px solid #C2C2C2;

  &:last-child {
    border-right: 1px solid #C2C2C2;
  }

  >a {
    display: inline-block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all .15s;
    transition: all .15s;

    &:hover {
      color: $color-accent;
    }

  }

  &.active {
    >a {
      color: $color-accent;
    }
  }
}